<html ng-app="romanApp">
	<head>
		<script src="assets/angular/angular.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="romanController as ctrl">
		<div>
			Number to roman
			<input ng-model="ctrl.input" ng-change="ctrl.handleChange()" maxlength="4"
			ng-keypress="ctrl.handleKeypress($event)"/>
			>>>>>
			{{ctrl.result}}
			<br></br>
			{{ctrl.error}}
		</div>
		<div>
			Number to Thai
			<input ng-model="ctrl.inputToThai" ng-change="ctrl.handleToThaiChange()" type="text"/>
			>>>>>
			{{ctrl.resultToThai}}
		</div>
	</body>
</html>
